<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182669456051-mck8af5pdrljue6m0mqf8pe0gm1o3lub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182669456051-mck8af5pdrljue6m0mqf8pe0gm1o3lub</string>
	<key>API_KEY</key>
	<string>AIzaSyAnYe9cQPm_21dxVhz59Qohe-un7htiAr0</string>
	<key>GCM_SENDER_ID</key>
	<string>182669456051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGpotter</string>
	<key>PROJECT_ID</key>
	<string>gpotter-b5384</string>
	<key>STORAGE_BUCKET</key>
	<string>gpotter-b5384.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182669456051:ios:c32bbb628863c306a2f6c6</string>
</dict>
</plist>